$base: 4px;
$borderColor: #e5e7eb;
$backgroundColor: #f9fafb;

.home {
  padding: $base * 2;
}

.container {
  display: flex;
  justify-content: center;
  gap: $base * 8;
  flex-wrap: wrap;
  margin-top: $base * 8;
}

:host ::ng-deep {
  .p-panel {
    margin-bottom: $base * 8;
  }

  .p-panel-content {
    padding-top: $base * 2;
    padding-bottom: $base * 10;
  }

  .p-float-label {
    margin-top: $base * 8;
  }

  .p-panel-footer {
    padding: $base * 3.5 $base * 8;
    text-align: center;
  }

  th {
    background: transparent;
  }
}

.total-paid-amount {
  margin-top: $base * 4;
  border: 1px solid $borderColor;
  border-radius: 6px;
  background-color: $backgroundColor;

  ul {
    padding-left: $base * 5;
  }

  li {
    list-style: none;
    margin: $base 0;
  }

  span {
    font-weight: 700;
  }
}
