<main class="home">
  <div class="container">
    <form [formGroup]="mortgageForm" (ngSubmit)="onSubmit()">
      <p-panel header="Mortgage Calculator">
        <p-floatLabel>
          <input
            pInputText
            id="down-payment"
            type="number"
            formControlName="downPayment"
          />
          <label for="down-payment">Down payment amount</label>
        </p-floatLabel>

        <p-floatLabel>
          <input
            pInputText
            id="property-price"
            type="number"
            formControlName="propertyPrice"
          />
          <label for="property-price">Price of the property</label>
        </p-floatLabel>

        <p-floatLabel>
          <input
            pInputText
            id="interest-rate"
            type="number"
            formControlName="interestRate"
          />
          <label for="interest-rate">Annual interest rate</label>
        </p-floatLabel>

        <p-floatLabel>
          <input
            pInputText
            id="duration"
            type="number"
            formControlName="duration"
          />
          <label for="duration">Duration in years</label>
        </p-floatLabel>
        <ng-template pTemplate="footer">
          <p-button
            type="submit"
            [disabled]="!mortgageForm.valid"
            [rounded]="true"
            >Calculate loan</p-button
          >
        </ng-template>
      </p-panel>
    </form>

    @if (state.paymentSchedule.length > 0) {
    <div>
      <p-panel header="Repayment schedule">
        <p-table [value]="state.paymentSchedule" [paginator]="true" [rows]="5">
          <ng-template pTemplate="header">
            <tr>
              <th>Month</th>
              <th>Payment</th>
              <th class="hide-in-mobile-view">Principal</th>
              <th class="hide-in-mobile-view">Interest</th>
              <th>Remaining</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{ data.month }}</td>
              <td>{{ data.monthlyPayment }}</td>
              <td class="hide-in-mobile-view">{{ data.principalPaid }}</td>
              <td class="hide-in-mobile-view">{{ data.interestPaid }}</td>
              <td>{{ data.remainingLoan }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>

      <p class="total-paid-amount">
        {{ state.totalPaidAmount }} = {{ state.totalPaidPrincipal }} (principal)
        + {{ state.totalPaidInterest }} (interest)
      </p>
    </div>
    }
  </div>
</main>
